@model Project_Webapplicaties.ViewModels.LineUpListViewModel
<div class="title-box">
    <h2 class="title">Line-up</h2>
</div>
<br />
@if (this.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create new</a>
    </p>
}
<div class="info-box">
    <div class="ticket-table">
        <table>
            <thead>
                <tr>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.artiesten[0].Naam)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.artiesten[0].Genre)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.artiesten)
                {
                    <tr>
                        <td class="col-md-4">
                            @item.Naam
                        </td>
                        <td class="col-md-4">
                            @item.Genre
                        </td>
                        <td>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Create" asp-route-id="@item.LineUpID">Create</a>
                                <a asp-action="Edit" asp-route-id="@item.LineUpID">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.LineUpID">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>