@model Project_Webapplicaties.ViewModels.GebruikerListViewModel
@{ 
    ViewData["Title"] = "Gebruikers";
}

<div class="title-box">
    <h2 class="title">Gebruikers</h2>
</div>
<div class="info-box">
    <p>
        <a asp-action="Create">Create new</a>
    </p>
</div>

<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(v => v.Gebruikers[0].Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(v => v.Gebruikers[0].Naam)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(v => v.Gebruikers[0].GeboorteDatum)
            </th>
            <th class="col-md-2">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Gebruiker in Model.Gebruikers)
        {
            <tr>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => Gebruiker.Id)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => Gebruiker.Naam)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => Gebruiker.GeboorteDatum)
                </td>
                <td class="col-md-2">
                    <a asp-action="Details" asp-route-id="@Gebruiker.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@Gebruiker.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>